.sidebar {
    height: 1000px;
    width: 200px;
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 40px;
    background-color: black;
  }
  .sidebar div {
    padding: 8px;
    font-size: 24px;
    display: block;
    color: white;
    text-align: center;
  }
  .body-text {
    margin-left: 150px;
    font-size: 18px;
  }
  html, body {
    height: 700px;
    width: 600px;
}
p{
  padding-left: 200px;
}

h2{
  padding-left: 200px;
}
#Contact {
 font-size: 35px;
 line-height: .2;
 font-family: monospace;
 text-decoration-line: underline;
text-decoration-thickness: 2px; 
}
#Phone {
  font-size: 14px;
 }

#email {
  font-size: 13px;
 }
.sidebar{
  line-height: 1em;
  font-family: Arial, Helvetica, sans-serif;
 }
#list {
  padding-left: 220px;
}
#languages{
  font-size: 16px;
  line-height: .9;
}
#sl3{
  line-height: ;
}
#hr{
  height: 0px;
  li;
}
#head{
  padding-left: 200px;
  font-size: 50px;
  line-height: .00;
  color: ;
}
ul{
  padding-left: 220px;
}
h2{
  font-size: 30px;
  line
}